<%
  # b-single-bg-image
  content_width = 620
  b_single_bg_image_w = content_width # 620
  b_single_bg_image_h = 300
  mso_backgrouns_fallback_color = '#360000'
  b_single_bg_image_url = "http://placehold.it/#{b_single_bg_image_w}x#{b_single_bg_image_h}.jpg"
%>
<table class="b-single-bg-image" style="width:100%;" width="<%= content_width %>" height="<%= b_single_bg_image_h %>">
  <tr>
    <td class="b-single-bg-image-prop" style="background-image:url(<%= b_single_bg_image_url %>);" background="<%= b_single_bg_image_url %>">

<!--[if gte mso 9]><v:rect fill="true" stroke="false" style="width:<%= b_single_bg_image_w %>px;height:<%= b_single_bg_image_h %>px;"><v:fill color="#FFFFFF" src="<%= b_single_bg_image_url %>" type="tile" /><v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0"><![endif]-->

      <table cellspacing="0" cellpadding="0" border="0" width="<%= content_width %>" style="width:100%;">
        <tr>
          <td class="b-single-bg-image-content">
            <p class="block-pre-title">
              Pre title
            </p>
            <p class="block-title">
              Title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p class="block-post-title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
              Lorem ipsum dolor sit amet, <a href="#" class="default-text-link">consectetur adipisicing</a> elit. Neque nam unde, laudantium distinctio commodi saepe reprehenderit ut, cumque incidunt excepturi.
            </p>
          </td>
        </tr>
      </table>
<!--[if gte mso 9]></v:textbox></v:rect><![endif]-->
    </td>
  </tr>
</table>
