<%
  # b-single-bg-image
  b_single_bg_image_w = 650
  b_single_bg_image_h = 300
  b_single_bg_image_url = "http://placehold.it/#{b_single_bg_image_w}x#{b_single_bg_image_h}.jpg"
%>
<table class="b-single-bg-image" style="width:100%;" height="<%= b_single_bg_image_h %>">
  <tr>
    <td background="<%= b_single_bg_image_url %>">
      <!--[if gte mso 9]>
      <v:rect style="width:<%= b_single_bg_image_w %>px;height:137px;" strokecolor="none">
        <v:fill type="tile" color="#363636" src="<%= b_single_bg_image_url %>" /></v:fill>
      </v:rect>
      <v:shape id="NameHere" style="position:absolute;width:<%= b_single_bg_image_w %>px;height:<%= b_single_bg_image_w %>px;">
      <![endif]-->
      <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
        <tr>
          <td class="b-single-bg-padding">&nbsp;</td>
          <td class="b-single-bg-content">
            <p class="block-pre-title">
              Pre title
            </p>
            <p class="block-title">
              Title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p class="block-post-title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam unde, laudantium distinctio commodi saepe reprehenderit ut, cumque incidunt excepturi.
            </p>
          </td>
          <td class="b-single-bg-padding">&nbsp;</td>
        </tr>
      </table>
      <!--[if gte mso 9]>
      </v:shape>
      <![endif]-->
    </td>
  </tr>
</table>
