---
title: Welcome to Middleman
---

<h1>HTML email / newsletter construction blocks</h1>

<% sitemap.resources.select { |p| /email\/blocks\// =~ p.path }.each do |block| %>
  <div class="row" data-iframe-h="350">
    <%= link_to block.path, block.path, class: 'block-title' %>
    <%= content_tag :p, block.data.title, class: 'block-desc-help' if block.data.title %>
    <%= content_tag(:iframe, nil, class: 'fr-desktop', src: "/#{block.path}", frameborder: 0) %>
    <%= content_tag(:iframe, nil, class: 'fr-mobile', src: "/#{block.path}", frameborder: 0) %>
  </div>
<% end %>

<h1>HTML elements / components</h1>

<% sitemap.resources.select { |p| /email\/elements\// =~ p.path }.each do |element| %>
  <div class="row" data-iframe-h="350">
    <%= link_to element.path, element.path, class: 'block-title' %>
    <%= content_tag :p, element.data.title, class: 'block-desc-help' if element.data.title %>
    <%= content_tag(:iframe, nil, class: 'fr-desktop', src: element.path, frameborder: 0) %>
    <%= content_tag(:iframe, nil, class: 'fr-mobile', src: element.path, frameborder: 0) %>
  </div>
<% end %>
